<ion-header translucent>
      <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" routerLink="/home_user" name="logo-ionic"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title>User name</ion-title>

        <ion-buttons slot="primary">
          <ion-button>
            <ion-icon slot="icon-only" name="add-circle" routerLink="/home_user"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
<ion-content>

  <ion-list>
    <ion-list-header>
      Archivos faltantes
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/doc.png">
      </ion-avatar>
      <ion-label>
        <h2>Document</h2>
        <h3>CURP</h3>
        <p>documento escaneado</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/file.png">
      </ion-avatar>
      <ion-label>
        <h2>Document</h2>
        <h3>INE</h3>
        <p>documento escaneado</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/pdf.png">
      </ion-avatar>
      <ion-label>
        <h2>Document</h2>
        <h3>Comprobante de Domicilio</h3>
        <p>documento escaneado</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/camera.png">
      </ion-avatar>
      <ion-label>
        <h2>Document</h2>
        <h3>Acta de Nacimiento</h3>
        <p>documento escaneado</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
